@keyframes animateBtn {
    0%,
    100% {
        background-color: #2196f3;
    }

    50% {
        background-color: #2196f3d8;
        transform: scale(1.05);
    }
}

@keyframes animationCard {
    0%,
    100% {
       transform: rotateX(0);
    }

    50% {
        
    }
}