@import url("header.css");
@import url("footer.css");
@import url("portfolio.css");
@import url("modal.css");


.hero {
  position: relative;
  padding: 200px 0 210px;
  text-align: center;
  background-color: var(--dark);
  color: var(--light);
  background-image: url('../images/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  /* width: 100%;
  height: 100%; */
  background-color: rgba(47, 48, 58, 0.40);
  z-index: 1;
}

.hero h1 {
  position: relative;
  z-index: 2;
  font-weight: 900;
  font-size: 44px;
  width: 696px;
  text-transform: uppercase;
  margin: 0 auto 30px;
  line-height: 1.36;
}

.hero button {
  position: relative;
  z-index: 2;
  padding: 10px 32px;
  background-color: var(--blue);
  color: var(--light);
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  letter-spacing: 0.5px;
}



.features {
  display: flex;
  gap: 30px;
  padding-top: 94px;
  padding-bottom: 118px;
  margin: 0 auto;
}

.features h3 {
  color: var(--black);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.17;
}





.projects {
  padding: 94px 0;
}

.projects h2,
.team h2 {
  margin-bottom: 50px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
}

.photo {
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
  justify-content: center;
}

.photo--card {
  position: relative;
}

.main_third--text {
  position: absolute;
  top: 224px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-color: #2F303ACC;
  padding: 27px 0;
  width: 100%;
}

.team {
  padding-top: 94px;
  background-color: #f5f4fa;
  padding-bottom: 124px;
}

.team h6 {
  font-family: Roboto;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 30px;
}

.team__flex {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.team__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  flex-basis: 270px;
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001F;
}

.team__card img {
  display: block;
  width: 100%;
}

.team__potition {
  font-family: Roboto;
  max-width: 270px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}


.team__socials {
  display: flex;
  margin-bottom: 30px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.team__socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: transparent;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.team__socials a:hover {
  background-color: #2196F3;

  svg path {
    fill: white;
  }
}

.team__socials a svg {
  height: 20px;
  width: 20px;

}

.team__socials a svg path {
  fill: #AFB1B8;
  transition: all .3s ease-in-out;
}